.circle {
  fill : lightgray;
}

.soccer {
  color : #3647ff;
  fill  : #3647ff;
}

.basketball {
  color : #0adec7;
  fill  : #0adec7;
}

.tennis {
  color : yellow;
  fill  : yellow;
}

.football {
  color : red;
  fill  : red;
}

.golf {
  color : #0e6c0e;
  fill  : #0e6c0e;
}

.racing {
  color : purple;
  fill  : purple;
}

.track {
  color : #57c74f;
  fill  : #57c74f;
}

.mma {
  color : #e49343;
  fill  : #e49343;
}

.baseball {
  color : white;
  fill  : white;
}

.boxing {
  color : #fca2b2;
  fill  : #fca2b2;
}

.circle {
  opacity      : 0.8;
  stroke       : #474747;
  stroke-width : 1.5;
  cursor       : pointer;
}

.active {
  opacity      : 1;
  stroke       : black;
  stroke-width : 2.5;
}

.tooltip {
  position       : absolute;
  width          : 220px;
  height         : 150px;
  padding-left   : 2px;
  border         : 5px solid orange;
  border-radius  : 5px;
  background     : #ffde00;
  text-align     : center;
  font           : 12px sans-serif black;
  font-family    : 'Titillium Web',
                   sans-serif;
  pointer-events : none;
}

.circle {
  visibility : hidden;
}

.shown-comp.shown-sport {
  visibility : visible;
}
