.circle {
  fill : lightgray;
}

.soccer {
  fill : #3647ff;
  color : #3647ff;
}

.basketball {
  fill : turquoise;
  color : turquoise;
}

.tennis {
  fill : yellow;
  color : yellow;
}

.football {
  fill : red;
  color : red;
}

.golf {
  fill : green;
  color : green;
}

.racing {
  fill : purple;
  color : purple;
}

.track {
  fill : lightgreen;
  color : lightgreen;
}

.mma {
  fill : #e49343;
  color : #e49343;
}

.baseball {
  fill : darkgray;
  color : darkgray;
}

.boxing {
  fill : #fca2b2;
  color : #fca2b2;
}

.circle {
  opacity      : 0.8;
  stroke       : #474747;
  stroke-width : 1.5;
  cursor       : pointer;
}

.active {
  opacity      : 1;
  stroke       : black;
  stroke-width : 2.5;
}

.tooltip {
  position       : absolute;
  width          : 220px;
  height         : 150px;
  padding-left   : 2px;
  border         : 5px solid orange;
  border-radius  : 5px;
  background     : #ffde00;
  text-align     : center;
  font           : 12px sans-serif black;
  font-family    : 'Titillium Web',
                   sans-serif;
  pointer-events : none;
}

.circle {
  visibility: hidden;
}

.shown-comp.shown-sport {
  visibility: visible;
}
