body {
  background-color: #3b3b3b ;
  display: flex;
  justify-content: center;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.domain {
  stroke: lightgrey;
}

.axis {
  stroke: lightgrey;
}

.tick line {
  stroke: lightgrey;
}
