body {
  display          : flex;
  position         : relative;
  background-color : #e0e0e0;
  align-items      : center;
  flex-direction   : column;
  justify-content  : center;
}

.gridlines line {
  stroke : #848484;
}

.gridlines path {
  stroke-width : 0;
}

.domain {
  stroke : #848484;
}

.axis line {}

.axis text {
  fill      : #474747;
  font-size : 14px;
}

.axis-label {
  fill        : #474747;
  font-family : 'Titillium Web',
                sans-serif;
  font-size   : 18px;
  font-style  : italic;
}

.title-div {
  display        : flex;
  margin-bottom  : 10px;
  padding        : 0 10px;
  color          : black;
  align-items    : center;
  flex-direction : column;
}

#title {
  margin      : 0;
  fill        : #a8a8a8;
  font-family : 'Bungee Inline',
                cursive;
  font-size   : 24px;
}

#subtitle {
  margin      : 0;
  fill        : #a8a8a8;
  font-family : 'Cantarell',
                sans-serif;
  font-size   : 18px;
}

.view-by {
  margin      : 0 10px;
  color       : black;
  font-family : 'Titillium Web',
                sans-serif;
  font-size   : 17px;
}

.all {
  color : black;
}

.filter-div {
  display        : flex;
  align-items    : flex-start;
  flex-direction : column;
}

ul {
  display         : flex;
  margin          : 0 0;
  align-items     : baseline;
  font-family     : 'Titillium Web',
                    sans-serif;
  font-size       : 16px;
  justify-content : center;
  list-style      : none;
}

.filter {
  margin        : 0 5px;
  border-bottom : 2px solid transparent;
  cursor        : pointer;
}

.filter:hover {
  border-bottom : 2px solid;
  font-size     : 16px;
}

.selected-comp {
  border-bottom : 2px solid;
  font-size     : 2px solid;
}

.selected-sport {
  border-bottom : 2px solid;
  font-size     : 16px;
}

.credits {
  display         : flex;
  position        : absolute;
  bottom          : -30px;
  left            : 0;
  width           : inherit;
  font-size       : 10px;
  flex-direction  : column;
  justify-content : flex-start;
}

.credits p {
  margin : 0;
}
