body {
  position: relative;
  background-color: black ;
  display: flex;
  justify-content: center;
  /*margin: 0 50px;*/
}


.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.gridlines line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.gridlines path {
  stroke-width: 0;
}

.domain {
  stroke: lightgrey;
}

.axis line {
  stroke-width: 2px;
  stroke: lightgrey;
}

.axis text {
  font-size: 14px;
  fill: lightgrey;
}
